@charset "UTF-8";

/* Main syle configs (start) */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/98895a95-bf39-4281-bf50-067d62dd71c5/d99pwxx-eb660be3-3d08-4fee-b933-1736f1456ef2.jpg/v1/fill/w_1024,h_576,q_75,strp/mad_max_game_intro_wallpaper_by_otrixx_d99pwxx-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvOTg4OTVhOTUtYmYzOS00MjgxLWJmNTAtMDY3ZDYyZGQ3MWM1XC9kOTlwd3h4LWViNjYwYmUzLTNkMDgtNGZlZS1iOTMzLTE3MzZmMTQ1NmVmMi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.pLCSQwBwbKNHh4HjUFa1Q-AWjQscEqbY_j_73CZqjhM');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    background-image: linear-gradient(to top,#EDE8E2, #93B2B5);
}

.header > .header__container > h1 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding: 24px;
    color: #DB8828;
    text-shadow: 1px 2.5px 3px black;
}

.header > .header__container > .header__subtitle {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    width: 70vw;
    margin: 0 auto;
    line-height: 1.2;
    color: #DB8828;
    text-shadow: 1px 1px 1px black;
}

.header > .header__container > .header__nav > .header__menu {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 20px;
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/56/25/32/1000_F_256253244_8e2jM5FRxRDBc7k0wBUGAaKiyg3rJtuH.jpg');
    background-size: cover;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.484);
}

.header > .header__container > .header__nav > .header__menu > .menu__item > a{
    color: white;
    text-decoration: none;
    transition: all .1s;
}

.header > .header__container > .header__nav > .header__menu > .menu__item > a:hover {
    color: grey;
    background-color: rgb(195, 195, 195);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.header > .header__container > .header__nav > .header__menu > .menu__item > a:active {
    color: grey;
    background-color: rgb(143, 143, 143);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.section {
    width: 90vw;
    margin: 0 auto;
    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}

.section--intro {
    margin-top: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: #ffffffc2;
}

.section--about, .section--gallery, .section--services, .section--news  {
    border: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    border-top: none;
    padding: 10px;
    background-color: #ffffffc2;
}

.section--contact {
    border: 1px solid rgba(128, 128, 128, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
    border-top: none;
    padding: 10px;
    background-color: white;
}

.section--intro > .intro__banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 5px solid #98AEAB;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    background-image: url('https://i.pinimg.com/originals/05/9b/56/059b56178e73c54b31cc29651ac1f73a.jpg');
    background-size: cover;
    background-position: center 60%;
}

.section--intro > .intro__banner > .intro__title {
    font-size: 1.5em;
    background-image: linear-gradient(to top,#7f381a91,#C3915E, #93B2B5,#93B2B5);
    padding: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    text-indent: 5px;
    text-align: center;
    border-bottom: 2px solid #93B2B5;
}

.section--intro > .intro__banner > .intro__text {
    text-align: center;
    color: #DB8828;
    text-shadow: 1px 2px 3px black;
    font-weight: bold;
}

.section--intro > .intro__banner > .intro__button {
    color: #65c7d0;
    background-color: rgba(255, 255, 255, 0.086);
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.1s;
    width: fit-content;
    margin: 0 auto;
}

.section--intro > .intro__banner > .intro__button:hover {
    width: fit-content;
    color: rgb(0, 230, 250);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.54);
    margin: 0 auto;
    padding: 5px 30px;
    border-radius: 10px;
}

.section--intro > .intro__banner > .intro__button:active {
    width: fit-content;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(83, 83, 83);
    margin: 0 auto;
    padding: 5px 30px;
    border-radius: 10px;
}

.section--about > .section__content > .section__title {
    font-size: 1.2em;
    background-image: linear-gradient(to right,grey, transparent) ;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.section--about > .section__content > .section__text {
    padding: 10px;
    margin-top: 5px;
    line-height: 1.5;
}

.section--about > .section__content > .about__grid {
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
}

.section--about > .section__content > .about__grid > .about__item {
    border: 1px solid grey;
    justify-content: space-around;
}

.section--about > .section__content > .about__grid > .about__item > .about__subtitle {
    font-size: 1.1em;
    background-color: rgba(128, 128, 128, 0.886);
    padding: 4px;
    text-indent: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.section--about > .section__content > .about__grid > .about__item > .about__description {
    padding: 10px;
    line-height: 1.5;
}

.section--gallery {
    background-color: rgb(255, 255, 255);
}

.section--gallery > .section__title {
    font-size: 1.2em;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(128, 128, 128), rgba(255, 255, 255, 0) 100%);
    padding: 10px;
    text-indent: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.section--gallery > .gallery__grid > .gallery__item {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.354);
}

.section--gallery > .gallery__grid > .gallery__item > img {
    width: 100%;
}

.section--gallery > .gallery__grid > .gallery__item > figcaption {
    padding: 10px;
}

.section--gallery > .gallery__grid > .gallery__item > .btn-more {
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border-style: solid;
    border-color: gray;
    color: gray;
    transition: all 0.1s;
}

.section--gallery > .gallery__grid > .gallery__item > .btn-more:hover {
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border-style: solid;
    border-color: gray;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.9em;
    background-color: gray;
    border-style: double;
}

.section--gallery > .gallery__grid > .gallery__item > .btn-more:active {
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border-style: solid;
    border-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.9em;
    background-color: rgb(77, 77, 77);
    border-style: double;
    text-shadow: 0px 0px 3px black;
}

.section--services > .section__content > .section__title {
    font-size: 1.2em;
    background-image: linear-gradient(to right,grey, transparent) ;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.section--services > .section__content > .services__list > .service__item {
    margin-left: 10px;
}

.section--services > .section__content > .services__list > .service__item > .service__title {
    font-weight: bold;
    padding: 10px 0px;
}

.section--services > .section__content > .services__list > .service__item > .service__description {
    text-indent: 20px
}

.section--news > .section__title {
    font-size: 1.2em;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(128, 128, 128), rgba(255, 255, 255, 0) 100%);
    padding: 10px;
    text-indent: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.section--news > .news__grid > .news__item {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.354);
}

.section--news > .news__grid > .news__item > .news__img {
    width: 100%;
}

.section--news > .news__grid > .news__item > .news__content > .news__title, .news__date, .news__summary {
    text-align: left;
}

.section--news > .news__grid > .news__item > .news__content > .news__title {
    font-size: 1.5em;
    padding: 10px;
}

.section--news > .news__grid > .news__item > .news__content > .news__date  {
    padding-left: 10px;
    color: rgb(92, 92, 92);
}

.section--news > .news__grid > .news__item > .news__content > .news__summary {
    padding: 10px;
}

.section--news > .news__grid > .news__item > .news__content > .btn-more {
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border-style: solid;
    border-color: gray;
    color: gray;
    transition: all 0.1s;
}

.section--news > .news__grid > .news__item > .news__content > .btn-more:hover {
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border-style: solid;
    border-color: gray;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.9em;
    background-color: gray;
    border-style: double;
}

.section--news > .news__grid > .news__item > .news__content > .btn-more:active {
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border-style: solid;
    border-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.9em;
    background-color: rgb(77, 77, 77);
    border-style: double;
    text-shadow: 0px 0px 3px black;
}

.section--contact {
    background-color: rgba(128, 128, 128, 0.577);
}

.section--contact > .section__content {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.section--contact > .section__content > .section__title {
    text-align: center;
    background-color: rgb(76, 76, 76);
    color: white;
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.section--contact > .section__content > .contact__form > .form__group {
    width: 85%; 
    padding: 10px 0px;
    margin: auto;
}

.section--contact > .section__content > .contact__form > .form__group > #message {
    height: 100px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}

.section--contact > .section__content > .contact__form > .form__group > .form__input {
    width: 98%;
    height: 30px;
    margin-top: 3px;
    border-radius: 15px;
    border-color: grey;
    border-style: solid;
    text-indent: 10px;
    background-color: rgba(174, 174, 174, 0.54);
}

.section--contact > .section__content > .contact__form > .form__group > .form__label {
    font-weight: bold;
    color: rgb(83, 83, 83);
}
.section--contact > .section__content > .contact__form > .form__group > .form__label::after {
    content: ':';
}

.section--contact > .section__content > .contact__form > .form__button {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(76, 76, 76);
    background-color: rgb(76, 76, 76);
    color: white;
    font-size: 1.2em;
    margin-bottom: 22px;
    margin-top: 10px;
    transition: all 0.1s;
}

.section--contact > .section__content > .contact__form > .form__button:hover {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 1.2em;
    margin-bottom: 22px;
    margin-top: 10px;
}

.section--contact > .section__content > .contact__form > .form__button:active {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(59, 59, 59);
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 1.2em;
    margin-bottom: 22px;
    margin-top: 10px;
}

.footer > .footer__content {
    background: rgb(76, 76, 76);
    margin-top: 10px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer > .footer__content > .footer__text {
    color: white;
    text-align: center;
}

.footer > .footer__content > .footer__social {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    margin-top: 17px;
}

.footer > .footer__content > .footer__social > li > a {
    color: white;
    text-decoration: none;
    transition: all 0.1s;
}

.footer > .footer__content > .footer__social > li > a:hover {
    color: rgb(76, 76, 76);
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.footer > .footer__content > .footer__social > li > a:hover::before {
    content: '🔗 ';
}

.footer > .footer__content > .footer__social > li > a:active {
    color: rgb(76, 76, 76);
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(137, 137, 137);
    padding: 5px;
    border-radius: 10px;
}

/* Main syle configs (end) */

/*##########################################################################*/
/*##########################################################################*/
/*##########################################################################*/

/* Media-Query config (start) */

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablets */
    .section {
        width: 80vw;
        margin: 0 auto;
    }

    .section--intro {
        margin-top: 8px;
        border: 1px solid rgb(255, 255, 255);
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
    }

    .section--contact > .section__content {
        width: 60%;
        border-radius: 10px;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media screen and (min-width: 992px) { /* Bigger screens */


    .header > .header__container > h1 {
        font-size: 2.5em;
    }

    .section {
        width: 55vw;
        margin: 0 auto;
    }

    .header > .header__container > .header__nav > .header__menu {
        justify-content: center;
        gap: 90px;
    }

    .section--intro {
        margin-top: 0px;
        border: 1px solid rgb(255, 255, 255);
        border-bottom: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 10px;
    }

    .section--intro > .intro__banner > .intro__title {
        font-size: 2em;
        padding: 5px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px black;
        text-indent: 5px;
        text-align: center;
    }

    .section--intro > .intro__banner > .intro__text {
        text-align: center;
        font-size: 1.3em;
    }

    .section--gallery > .gallery__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .section--gallery > .gallery__grid > .gallery__item {
        width: 45%;
    }

    .section--services > .section__content > .services__list > .service__item > .service__title {
        font-size: 1.2em;
    }

    .section--news > .news__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .section--news > .news__grid > .news__item {
        width: 45%;
    }

    .section--contact > .section__content {
        width: 60%;
        border-radius: 10px;
        margin: 0 auto;
        overflow: hidden;
    }

    .footer > .footer__content > .footer__social {
        display: flex;
        justify-content: center;
        gap: 90px;
        margin: 10px 0px;
        margin-top: 17px;
    }
}

/* Media-Query config (end) */

/* images references 

https://www.deviantart.com/otrixx/art/Mad-Max-game-intro-wallpaper-560521221
https://stock.adobe.com/br/images/grunge-rusted-metal-texture-rusty-corrosion-and-oxidized-background-worn-metallic-iron-panel-abandoned-design-wall-copper-bar/256253244

*/